.dailyRecap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btnsRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
