.dailyRecap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	grid-gap: 5px;
}

.btnsRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
}

.detailedBtnLabels {
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
}

.detailedWeather {
	width: 90%;
	display: grid;
	grid-template-rows: 40px 1fr;
}

.daily {
	display: grid;
	grid-template-rows: 30px 1fr;
}

.dailySummary {
	padding: 5px;
	border-bottom: 1px solid black;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

.dataRow {
	display: grid;
	grid-template-rows: 1fr;
	border: 1px solid black;
	border-radius: 3px;
}

.iconSummary {
	/* border-right: 1px solid black; */
	text-align: center;
}

.dailyIcon {
	font-size: 30px;
}