.featuredCitiesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.featuredTitle {
	font-size: 1.25rem !important;
	padding: 10px;
}

.featuredCities {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	width: 90%;
	grid-gap: 10px;
}

@media (max-width: 375px) {
	.featuredCities {
		grid-template-columns: 1fr;
	}
}

.featuredIcon {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.featuredContent {
	display: grid;
	grid-template-columns: 35% 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
	height: 100%;
	justify-items: center;
}

.left {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
