html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.day {
    background: #f2994a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f2c94c,
        #f2994a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f2c94c,
        #f2994a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.night {
    background-color: #2980b9;
    background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%),
        linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
        linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
        linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
    background-repeat: no-repeat;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7f04+100 */
}

#root {
    height: auto;
    width: auto;
    padding: 1rem;
}
