@import url("./assets/weather-icons/css/weather-icons.min.css");
@import url("./styles/reset.css");
@import url("./styles/Loader.css");
@import url("./styles/Featured.css");
@import url("./styles/Current.css");
@import url("./styles/DailyHourly.css");

html,
body,
#root,
.appGrid {
	height: 100%;
	width: 100vw;
	margin: 0;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	width: 100vw;
	/* padding: 10px; */
}

.searchContainer {
	width: 90%;
	display: flex;
	justify-content: center;
}

.submitBtn {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	font-size: 1.5rem;
	cursor: pointer;
	outline: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.submitBtn:hover {
	color: white;
	background-color: black;
}

.weatherData {
	width: auto;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

@media (max-width: 600px) {
	.weatherData {
		grid-template-rows: 1fr;
	}
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 20px;
	justify-items: center;
	align-items: center;
}

.links {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.footerLink {
	cursor: pointer;
}

.footerIcon {
	font-size: 2.5rem;
	color: black;
	cursor: pointer;
}